<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>disparo_jefe_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,47},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,15},{20,20}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>disparo_jefe_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,68},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,16},{18,18}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>disparo_jefe_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,0},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,17},{16,16}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>disparo_jefe_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,17},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,18},{14,14}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>disparo_jefe_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,0},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,17},{16,16}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>disparo_jefe_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,68},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,16},{18,18}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>jefe_ataque_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,135},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{40,40}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>jefe_ataque_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{42,42}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>jefe_ataque_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,47},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{44,44}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>jefe_ataque_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{46,46}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>jefe_ataque_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,47},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{44,44}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>jefe_ataque_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{42,42}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>jefe_giro_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,135},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,8},{34,34}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>jefe_giro_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,176},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,8},{34,34}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>jefe_giro_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,211},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,8},{34,34}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>jefe_giro_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,176},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,8},{34,34}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>jefe_giro_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,211},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,8},{34,34}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>jefe_giro_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,92},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,8},{34,34}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>jefe.png</string>
			</dict>
		</dict>
</plist>